@use '../../style/vars';

.section-menu {
  padding: 2em 5em;

  .desktop-menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
  
    &-logo  {
      width: 20px;
    }
  
    &-nav {
      color: vars.$lightColor;
      text-decoration: none;

      &.active {
        color: vars.$mainColor;
      }
    }
  }
}