@use '../../style/vars';

.section-menu {
  padding: 2em 5em;

  .desktop-menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  
    &-logo  {
      width: 20px;
    }
  
    &-nav {
      color: vars.$lightColor;
      text-decoration: none;

      &.active {
        color: vars.$mainColor;
      }
    }
  }
}

hr {
  height: 2px;
  background: rgb(3,196,161);
  background: linear-gradient(90deg, rgba(3,196,161,1) 0%, rgba(145,107,191,1) 51%, rgba(242,125,91,1) 100%);
  border: none;
}

// Light mode style
#light-mode {
  .desktop-menu-nav {
    color: vars.$darkColor;
    &.active {
      color: vars.$mainColor;
    }
  }
}