@use '../../style/vars';

.menu {
    position: absolute;
    width: 10em;
    border-right: 1px solid vars.$darkColor;
    height: 100vh;
    z-index: 10;
    background-color: vars.$backgroundColor;
    
    @media screen and (min-width: 1024px) {
        &-burger {
            display: none;
        }
    }

    &-burger {
        background-color: transparent;
        position: fixed;
        right: 10px;
        top: 10px;

        img {
            width: 40px;
            height: 40px;
        }
    }

    a {
        text-decoration: none;
        color: vars.$darkColor;
    }

    &-navbar {
        margin-top: 5em;
        padding-top: 3em;
        border-top: 1px solid vars.$darkColor;
        display: flex;
        flex-wrap: wrap;
        
        &-nav {
            margin: 2em 1em;
        }

        .active {
            text-decoration: underline;
        }
    }
}