@use '../../style/vars';
@use '../../style/mixins';

#competences {
  margin-bottom: 10em;
  margin: 5em 0 0 1em;
}

.skills {
  @media screen and (max-width: 1440px) {
    margin-bottom: 5em;
  }
  &-title {
    @include mixins.mainTitle;

    & span {
      font-family: source-code-pro, 'Courier New', monospace;
      color: vars.$thirdColor;
    }
  }

  .subtitle {
    font-size: 1.2em;

    span {
      color: vars.$mainColor;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 1440px) {
      width: 60%;
    }
    @media screen and (min-width: 1024px) {
      width: 70%;
    }

    &-skill {
      width: 7em;
      @media screen and (max-width: 320px) {
        width: 5em;
      }
      background-color: vars.$hoverColor;
      margin: 3em 3em 1em 0;
      min-height: 7em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1em;
      border-radius: .5em;
      font-size: .8em;
      text-align: center;

      &:nth-child(odd) {
        img {
          @include mixins.filterMainColor;
        }
      }

      &:nth-child(even) {
        img {
          @include mixins.filterSecondaryColor;
        }
      }

      &:hover {
        transition: .8s;
        box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.4);
      }

      &-icon {
        padding: 1em 2em;
        width: 40px;
        height: 40px;

      }
    }
  }
}

.secondary-skills {
  margin-top: 5em;

  .subtitle {
    font-size: 1.2em;
    margin-bottom: 2em;

    span {
      color: vars.$secondaryColor;
    }
  }

  &-lists {
    @media screen and (min-width: 426px) {
      display: flex;
    }
  }

  ul {
    ::before {
      content: '•';
      margin-right: .5em;
    }
    margin-right: 1em;
    @media screen and (min-width: 769px) {
      margin-right: 10em;
    }
    line-height: 1.5em;
  }
}