@use '../../style/vars';
@use '../../style/mixins';

.about-skills {
  margin-top: 4em;
  @media screen and (min-width: 1440px) {
    display: flex;
  }
  
  // Scrollbar
  @media screen and (max-width: 1024px) {
    height: calc(100vh - 6em);
    overflow-y: scroll;
    &::-webkit-scrollbar-thumb {
      border-radius: 25px;
      background-color: black;
    }
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar {
      border-radius: 25px;
    }
  }
}

.about {
  margin: 1em;
  @media screen and (min-width: 1440px) {
    margin-right: 8em;
    width: 70%;
  }
  &-title {
    @include mixins.mainTitle;
  }

  p {
    margin-bottom: 2em;
    line-height: 1.4em;
    text-align: justify;
  }
}

.skills {
  margin: 1em;
  @media screen and (max-width: 1440px) {
    margin-bottom: 5em;
  }
  &-title {
    @include mixins.mainTitle;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    &-skill {
      width: 7em;
      @media screen and (max-width: 320px) {
        width: 5em;
      }
      background-color: vars.$lightColor;
      margin: 1em 2em 1em 0;
      min-height: 7em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1em;
      border-radius: 1em;
      font-size: .8em;
      text-align: center;

      &:hover &-icon {
        transition: .8s;
        filter: invert(53%) sepia(7%) saturate(2160%) hue-rotate(70deg) brightness(93%) contrast(80%);
      }

      &:hover {
        transition: .8s;
        box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.2);
      }

      &-icon {
        padding: 1em 2em;
        width: 40px;
        height: 40px;

      }
    }
  }
}