@use '../../style/vars';
@use '../../style/mixins';

.contact {
  margin: 3em 0 2em 1em;

  &-title {
    h1 {
      @include mixins.mainTitle;
      span {
        color: vars.$thirdColor;
        font-family: source-code-pro, 'Courier New', monospace;
      }
    }
  }

  &-container {
    @media screen and (min-width: 1024px) {
      display: flex;
    }
  }

  .about {
    @media screen and (min-width: 1024px) {
      width: 40%;
      margin-right: 8em;
    }
    @media screen and (max-width: 1024px) {
      margin-bottom: 3em;
    }
    &-title {
      font-family: source-code-pro, 'Courier New', monospace;
      margin-bottom: 1em;
      font-size: 1.2em;
    }

    p {
      font-weight: 200;
      line-height: 1.2em;
      margin-bottom: 1em;
      font-size: .9em;
    }
  }

  .infos {
    &-title {
      font-family: source-code-pro, 'Courier New', monospace;
      margin-bottom: 1em;
      font-size: 1.2em;
    }

    span {
      color: #FF0B71;
    }

    &-links {
      display: flex;
      @media screen and (max-width: 320px) {
        font-size: .9em;
      }
      a {
        @include mixins.buttonLink;
      }
      button {
        font-family: source-code-pro, 'Courier New', monospace;
        background-color: darken($color: vars.$secondaryColor, $amount: 20%);
        padding: .8em;
        border-radius: .1em;
        color: vars.$lightColor;
        cursor: pointer;
        height: min-content;

        &:hover {
          background-color: vars.$secondaryColor;
          transition: .3s;
        }

        img {
          filter: invert(100%);
          transform: rotate(180deg);
          width: 10px;
        }
      }
    }

    &-content {
      @media screen and (max-width: 1024px) {
        width: fit-content;
      }
      background-color: vars.$hoverColor;
      padding: 1em;
      border-radius: .1em;

      p {
        font-size: .8em;
        margin-bottom: .5em;
        color: darken($color: vars.$lightColor, $amount: 40);
        img {
          filter: invert(100%);
          width: 10px;
          margin-right: .3em;
        }
        a {
          color: vars.$lightColor;
          text-decoration: none;
        }
        span {
          color: vars.$lightColor;
        }
      }

    }
  }
}