@use './vars';

@mixin modalBackground {
  background-color: vars(250, 224, 224, 0.7);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(2px);
}

@mixin modalContent {
  margin: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@mixin appButton {
  padding: 1em;
  text-transform: uppercase;
  border: 1px solid vars.$lightColor;
  cursor: pointer;
}

@mixin mainTitle {
  font-size: 2.5em;
  margin-bottom: .5em;
}

@mixin filterMainColor {
  filter: invert(54%) sepia(86%) saturate(435%) hue-rotate(119deg) brightness(94%) contrast(100%);
}

@mixin filterSecondaryColor {
  filter: invert(49%) sepia(13%) saturate(1807%) hue-rotate(225deg) brightness(93%) contrast(86%);
}

@mixin filterThirdColor {
  filter: invert(74%) sepia(29%) saturate(7226%) hue-rotate(325deg) brightness(104%) contrast(90%);
}

@mixin buttonLink {
  display: block;
  width: fit-content;
  color: vars.$lightColor;
  text-decoration: none;
  font-family: source-code-pro, 'Courier New', monospace;
  font-size: .9em;
  padding: .8em;
  border-radius: .1em;
  margin-bottom: 1em;

  img {
    filter: invert(100%);
    transform: rotate(180deg);
    width: 10px;
  }

  &:nth-child(1) {
    margin-right: 1em;
    background-color: darken($color: vars.$mainColor, $amount: 20%);

    &:hover {
      background-color: vars.$mainColor;
      transition: .3s;
    }
  }

  &:nth-child(2) {
    margin-right: 1em;
    background-color: darken($color: vars.$secondaryColor, $amount: 20%);

    &:hover {
      background-color: vars.$secondaryColor;
      transition: .3s;
    }
  }
}